@import url('https://fonts.googleapis.com/css?family=Lato');

html {font-family: Lato, Arial;
}

body {margin: 0;
background-image: url('crossword.png');
background-color: #FAFAFA;
padding-top: 100px;
margin-bottom: 60px;}


#navList {margin-top: -100px;
list-style-type: none;
display: flex;
background-color: white;
/* box-shadow: 0 2px 5px -3px #9c9c9c; */
box-shadow: 0 0 3px #9c9c9c;
padding: 0;
position: fixed;
width: 100%;
height: 69px;
z-index: 10;}

.navItems {text-align: center;
padding: 25px;
margin-bottom: -3px;
}

.navLinks {text-decoration: none;
text-transform: uppercase;
color: #5d5d5d;
border-bottom-style: solid;
border-color: transparent;
border-width: 3px;
width: 150px;
transition: all 100ms ease;}

.navLinks:hover {
border-color: #81a6d9;
color: #81a6d9;
transition: all 100ms ease;
}

#download {background-color: #81a6d9;
color: white;
height: 19px;
}

.content {margin: auto;
padding: 50px;
width: 450px;
color: #5d5d5d;
font-style: italic;
background-color: #ffffff;
box-shadow: 0 1px 3px #9c9c9c;
border-radius: 5px;
text-align: center;}

#getIt {color: white;
background-color: #81a6d9;
font-style: normal;
text-decoration: none;
padding: 15px;
transition: all 100ms linear;
text-transform: uppercase;}

#getIt:hover {background-color: #6784ad;
transition: all 100ms linear;}

footer {position:fixed;
bottom: 0;
left: 0;
font-family: 'arial';
padding: 5px;
background-color: white;
width: 100%;
color: #5d5d5d;}

.image {display: block;
width: 600px;
margin: 0 auto;}

img {
border-radius: 5px;
box-shadow: 0 1px 3px #9c9c9c;
width: 100%;
height: 100%;}

.eyeCatch {margin: 0;
padding: 50px;
text-align: center;
color: #7d7d7d;}

@media screen and (max-width: 600px) {
  
  body {padding-top: 250px;}
  
  .content {width: 60%;}
  
  .image {width: 75%;}
  
  #navList {
  margin-top: -250px;
  display: block;
  height: auto;
  border-style: none;}
  
}

@media screen and (max-width: 500px) {
  
  body {padding-top: 250px;}
  
  .content {width: 60%;}
  
  .image {width: 75%;}
  
  #navList {
  margin-top: -250px;
  display: block;
  height: auto;
  border-style: none;}
  
}
